extends layout

block content
    
  h1= title
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula tincidunt mauris sed mattis. Praesent id auctor nunc. In sodales malesuada sem eget luctus. Nulla lectus est, porta non orci vel, maximus cursus turpis. Donec et pellentesque turpis. Fusce auctor dolor tortor, eu imperdiet ipsum semper non. Aliquam vel elementum elit, in auctor mauris. Praesent congue ex at magna finibus fringilla. Aliquam ut ligula semper, molestie lacus ac, egestas velit. Donec ac dictum ipsum, eu ultrices odio.

  p Integer at tortor in eros malesuada fringilla. Vestibulum non felis ipsum. Duis pellentesque vestibulum efficitur. Fusce at rhoncus sapien. Praesent tellus turpis, auctor ullamcorper metus a, semper porta sapien. Vestibulum venenatis felis nec ex imperdiet, a sollicitudin arcu pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas fermentum tristique pretium. Pellentesque posuere imperdiet lorem, vel luctus diam dignissim quis. Phasellus dapibus tincidunt fermentum. Fusce molestie est in ultrices sollicitudin. Phasellus at consequat libero. Donec vitae eros luctus, vehicula massa in, aliquet quam. Proin fermentum tempor iaculis. Ut vehicula lectus at sollicitudin auctor. Vestibulum hendrerit vestibulum libero nec cursus.

  p  Sed finibus hendrerit mi, tincidunt convallis ante dignissim eu. Sed vitae nisl rhoncus, consequat lectus ac, sagittis ligula. Sed nec imperdiet mi. Aliquam eros tortor, facilisis et ligula sit amet, suscipit laoreet dui. Suspendisse gravida neque id lectus dictum blandit. Nam id velit massa. Integer tincidunt urna augue, semper bibendum mauris dignissim vel. Aenean ut arcu eget felis lobortis suscipit. Donec sagittis nisl nec felis euismod sollicitudin.
