extends layout

block content

  h1= title
  p Creación de tareas.
  form(action='/tareas/crear', method='post')
    h3 Titulo: 
    input(type='text', name='nom')
    h3 Etiquetas:
    textarea(type='text', name='etiquetes', rows='4', cols='100')
    h3 Realización (%):
    input(type='number', name='realitzacio')
    br
    br
    input(type='submit', value='Crear Tarea')